.tag {
    display: flex;
    --tag-normal: #46d200;
    --tag-warning: #d28100;
    --tag-danger: #d20000;
    color: white;
    font-weight: 600;
    border-radius: 12px;
}

.tag p {
    padding: 0 0.5rem;
}

.tag.normal {
    background-color: var(--tag-normal);
}
.tag.warning {
    background-color: var(--tag-warning);
}
.tag.danger {
    background-color: var(--tag-danger);
}