.code-block {
    display: flex;
    text-align: left;
    background-color: rgb(56, 56, 56);
    padding: 2rem;
    border-radius: 12px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    gap: 1rem;
}

.code-block .code {
    white-space: pre;
    overflow: auto;
    background-color: #171616;
    padding: 1rem;
    margin: 1rem 0 0 0;
    border-radius: 0 0 8px 8px;
}

.code-block .image {
    width: 100%;
    height: 100%;
    max-width: 250px;
}

.solution-data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 12px;
    background-color: #D8DBE2;
    overflow: hidden;
}

.solution-data h2, a {
    padding: 0.5rem 1rem 0 1rem;
    color: #171616;
}

.solution-data a {
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 0.1rem;
}

.solution-data a:hover {
    color: #646cff;
}

